{% extends 'base.html' %}


{% block content %}
{% load cart %}
{% load custom_filters %}
<div class="container">
    <div class="border rounded p-4 m-4">
        <table class="table">
            <p class="display-4 pl-4 ml-4">Your Cart</p>
            <hr>
            <thead>
                <tr>
                    <th>S.no</th>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Value</th>
                </tr>
            </thead>

            <tbody>

                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img style="height: 80px; width: 80px;" class="rounded-circle" src="{{product.image.url}}"
                            alt=""></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_count:request.session.cart}}</td>
                    <td>{{product|cart_price_per_product:request.session.cart|currency}}</td>
                </tr>
                {%endfor%}
            </tbody>
            <tfoot>
                <th colspan="3"></th>
                <th class="text-center">Total</th>
                <th colspan="1"></th>
                <th>{{products|total_cart_price:request.session.cart|currency}}</th>
            </tfoot>
        </table>
        <div class="m-3 p-3">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-dark border rounded col-lg-3 float-right">Check out</a>
        </div>
    </div>
</div>

<!-- MODAL -->


<!-- Modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">CheckOut form</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="m-2 p-3">
                <form action="/check-out" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for=""><b>Address</b></label>
                        <input type="text" name="address" id="" class="form-control" placeholder=""
                            aria-describedby="helpId">
                    </div>
                    <div class="form-group">
                        <label for=""><b>Phone</b></label>
                        <input type="text" name="phone" id="" class="form-control" placeholder=""
                            aria-describedby="helpId">
                    </div>
<hr>
                    <input type="submit" class="btn btn-dark col-lg-3" value="Checkout">
                </form>
            </div>
        </div>
        </div>
    </div>
</div>
{% endblock %}